@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,400,500,600,700,800,900");
/* BASE */
/* line 3, ../sass/base/_base.scss */
body {
  font-family: 'Poppins', sans-serif;
}

/* line 7, ../sass/base/_base.scss */
ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

/* line 13, ../sass/base/_base.scss */
a {
  color: black;
}

/* line 16, ../sass/base/_base.scss */
a:hover {
  color: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/base/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/base/_reset.scss */
button {
  border: none;
}

/* FOOTER */
/* line 3, ../sass/layout/_footer.scss */
footer {
  background-color: #3fb0ac;
  text-align: center;
  padding: 20px;
}

/* HEADER */
/* line 3, ../sass/layout/_header.scss */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

@media (max-width: 420px) {
  /* line 10, ../sass/layout/_header.scss */
  header {
    display: block;
    text-align: center;
  }
}
/* line 16, ../sass/layout/_header.scss */
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, ../sass/layout/_header.scss */
.menu-wrapper .nav-item {
  padding: 0 10px;
}

/* HEADER USER */
/* line 3, ../sass/layout/_header-user.scss */
.header-user {
  padding: 20px 0;
}

/* line 6, ../sass/layout/_header-user.scss */
.header-user .logo-wrapper {
  text-align: center;
  padding-bottom: 20px;
}

/* line 10, ../sass/layout/_header-user.scss */
.header-user .profil-picture {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin: 0 auto;
}

/* line 22, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 28, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

/* line 35, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture a .no-picture-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 44, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture a i {
  color: #22264b;
}

/* line 47, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture a p {
  font-size: 10px;
}

/* line 50, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture:hover {
  background-color: #22264b;
}

/* line 53, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture:hover p {
  color: white;
}

/* line 56, ../sass/layout/_header-user.scss */
.header-user .profil-picture.no-picture:hover i {
  color: white;
}

/* line 59, ../sass/layout/_header-user.scss */
.header-user h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

/* DASHBOARD PAGE */
/* line 3, ../sass/pages/_dashboard.scss */
.dashboard-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

/* line 9, ../sass/pages/_dashboard.scss */
.user-info-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 420px) {
  /* line 18, ../sass/pages/_dashboard.scss */
  .user-info-wrapper {
    display: block;
  }
}
/* line 22, ../sass/pages/_dashboard.scss */
.user-info-wrapper table {
  width: 100%;
}

/* line 25, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card {
  background-color: white;
  width: 50%;
  padding: 20px;
}

@media (max-width: 420px) {
  /* line 31, ../sass/pages/_dashboard.scss */
  .user-info-wrapper .white-card {
    width: 100%;
  }
}
/* line 35, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card:first-of-type {
  margin-right: 20px;
}

/* line 38, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card .info-user-line {
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

@media (max-width: 420px) {
  /* line 48, ../sass/pages/_dashboard.scss */
  .user-info-wrapper .white-card .info-user-line {
    display: block;
  }
}
/* line 52, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card .info-user-line label {
  color: #B5B4B4;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 57, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card .info-user-line span {
  font-weight: 500;
}

/* line 60, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card .custom-list li {
  font-size: 15px;
}

/* line 63, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card .custom-list li i {
  font-size: 17px;
  vertical-align: inherit;
}

/* line 67, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card table th {
  text-align: center;
  width: 100px;
}

/* line 71, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card table tbody td {
  padding: 20px 0;
  position: relative;
}

/* line 75, ../sass/pages/_dashboard.scss */
.user-info-wrapper .white-card table tbody td .checkbox-custom {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 84, ../sass/pages/_dashboard.scss */
#mainContent {
  width: 100%;
  min-height: 100vh;
  padding: 40px 40px;
  position: relative;
}

@media (max-width: 420px) {
  /* line 91, ../sass/pages/_dashboard.scss */
  #mainContent {
    padding: 10px;
  }
}
@media (max-width: 420px) {
  /* line 96, ../sass/pages/_dashboard.scss */
  #mainContent textarea {
    width: 100%;
  }
}
/* line 100, ../sass/pages/_dashboard.scss */
#mainContent .breadcrumb {
  background-color: transparent;
}

@media (max-width: 420px) {
  /* line 104, ../sass/pages/_dashboard.scss */
  #mainContent .breadcrumb {
    text-align: center;
  }
}
/* line 108, ../sass/pages/_dashboard.scss */
#mainContent .button-group {
  margin-bottom: 20px;
  margin-right: 10px;
}

@media (max-width: 420px) {
  /* line 113, ../sass/pages/_dashboard.scss */
  #mainContent .button-group {
    text-align: center;
  }
}
@media (max-width: 420px) {
  /* line 118, ../sass/pages/_dashboard.scss */
  #mainContent .button-group .btn {
    margin-bottom: 10px;
  }
}
/* line 122, ../sass/pages/_dashboard.scss */
#mainContent .back-button {
  position: absolute;
  top: 5%;
  right: 5%;
}

/* line 127, ../sass/pages/_dashboard.scss */
#mainContent h2 {
  color: #B5B4B4;
  padding-bottom: 20px;
}

/* HOMEPAGE */
/* line 3, ../sass/pages/_homepage.scss */
.home-section--hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

/* line 9, ../sass/pages/_homepage.scss */
.home-section--hero .left-part {
  width: 50%;
}

/* line 12, ../sass/pages/_homepage.scss */
.home-section--hero .right-part {
  width: 50%;
}

/* line 15, ../sass/pages/_homepage.scss */
.home-section--hero .hero-content h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: #22264b;
}

/* line 22, ../sass/pages/_homepage.scss */
.home-section--hero .hero-content h1 {
  color: #b56969;
  font-size: 65px;
  font-weight: bold;
}

/* line 27, ../sass/pages/_homepage.scss */
.home-section--overview .interface-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 32, ../sass/pages/_homepage.scss */
.home-section--overview .interface-item {
  width: calc(100%/3);
  text-align: center;
  margin: 20px;
}

/* line 37, ../sass/pages/_homepage.scss */
.home-section--overview .interface-item h3 {
  font-weight: bold;
  color: #b56969;
  margin-bottom: 20px;
}

/* line 42, ../sass/pages/_homepage.scss */
.home-section--overview .interface-item p {
  font-size: 13px;
}

/* line 45, ../sass/pages/_homepage.scss */
.home-section--overview .interface-item .interface-thumbnail img {
  height: 200px;
  border-radius: 200px;
  box-shadow: 5px 3px 12px -1px #eaeaeac4;
}

/* line 50, ../sass/pages/_homepage.scss */
.home-section--overview .interface-item .interface-item--content {
  margin-top: 30px;
}

/* line 53, ../sass/pages/_homepage.scss */
.home-section--features .features-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

/* line 58, ../sass/pages/_homepage.scss */
.home-section--features .features-wrapper .feature-card {
  background: #f5f7f9;
  padding: 25px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 66, ../sass/pages/_homepage.scss */
.home-section--features .features-wrapper .feature-card p {
  font-size: 12px;
}

/* line 69, ../sass/pages/_homepage.scss */
.home-section--features .features-wrapper .feature-card h4 {
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 10px;
}

/* line 74, ../sass/pages/_homepage.scss */
.home-section--features .features-wrapper .feature-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* line 78, ../sass/pages/_homepage.scss */
.home-section--demo h2 {
  color: white;
}

/* line 81, ../sass/pages/_homepage.scss */
.home-section--demo p {
  color: white;
}

/* REGISTER PAGE */
/* line 3, ../sass/pages/_register.scss */
.register-user-section {
  height: 100vh;
}

@media (max-width: 420px) {
  /* line 7, ../sass/pages/_register.scss */
  .register-user-section {
    height: auto;
  }
}
@media (max-width: 420px) {
  /* line 13, ../sass/pages/_register.scss */
  .register-user-section .login-section {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}
/* line 22, ../sass/pages/_register.scss */
.register-user-section .login-section a {
  margin-left: 10px;
}

/* line 25, ../sass/pages/_register.scss */
.register-user-section .main-title {
  padding-top: 30px;
}

@media (max-width: 420px) {
  /* line 29, ../sass/pages/_register.scss */
  .register-user-section .main-title {
    padding-top: 20px;
  }
}
/* line 33, ../sass/pages/_register.scss */
.register-user-section .register-user-form {
  padding: 40px 0;
}

@media (max-width: 768px) {
  /* line 37, ../sass/pages/_register.scss */
  .register-user-section .register-user-form .request-link {
    display: block;
    margin-top: 10px;
  }
}
/* line 42, ../sass/pages/_register.scss */
.register-user-section .cgu-wrapper {
  padding: 20px 0;
}

/* TITLE */
/* line 3, ../sass/themes/_title.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* line 12, ../sass/themes/_title.scss */
.main-title {
  text-align: center;
}

/* line 15, ../sass/themes/_title.scss */
.main-title h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #22264b;
}

/* BG-COLOR */
/* line 3, ../sass/themes/_bg-colors.scss */
.bg-color--blue {
  background: #22264b;
}

/* BUTTON */
/* line 3, ../sass/themes/_buttons.scss */
.btn {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px 20px;
}

/* line 11, ../sass/themes/_buttons.scss */
.btn-rounded {
  border-radius: 50px;
}

/* line 15, ../sass/themes/_buttons.scss */
.btn-green {
  background-color: #3fb0ac;
  color: white;
}

/* line 19, ../sass/themes/_buttons.scss */
.btn-transparent {
  background-color: transparent;
  color: white;
}

/* line 23, ../sass/themes/_buttons.scss */
.btn-blue {
  background-color: #22264b;
  color: white;
}

/* line 27, ../sass/themes/_buttons.scss */
.btn-yellow {
  background-color: #e6cf8b;
  color: black;
}

/* line 32, ../sass/themes/_buttons.scss */
.btn-border--blue {
  border: 1px solid #22264b;
  color: #b56969;
}

/* FORM */
/* line 3, ../sass/themes/_form.scss */
.form-group label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #B5B4B4;
}

/* line 11, ../sass/themes/_form.scss */
.form-group input {
  height: 45px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #B5B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 21, ../sass/themes/_form.scss */
.form-group input:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}

/* line 26, ../sass/themes/_form.scss */
.form-group input:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}

/* line 31, ../sass/themes/_form.scss */
.form-group textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #B5B4B4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
}

/* line 45, ../sass/themes/_form.scss */
.form-group textarea:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}

/* line 50, ../sass/themes/_form.scss */
.form-group textarea:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}

/* line 56, ../sass/themes/_form.scss */
.remember-check {
  padding: 20px 0;
}
