<template>
    <!--<Header />-->
    <!--<v-header></v-header>-->

    <main>
        <div class="dashboard-container">
            
            <slideBarComponent/>

            <!-- right content -->
            <div id="mainContent">
                <!-- title dashboard -->
                <div class="title-dashboard">
                    <h2>Mes informations</h2>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-transparent btn-border--blue">
                        <i class="fas fa-edit"></i>
                        modifier mes informations
                    </button>
                    <button type="button" class="btn btn-green">
                        <i class="fas fa-camera-retro"></i>
                        modifier ma photo
                    </button>
                </div>
                <!-- infos users -->
                <userInfoComponent/>
                
                <div class="py-5">
                    <button type="button" class="btn btn-squared btn-blue" data-toggle="modal" data-target="#modalPhoto">
                        <i class="fas fa-key"></i>
                        modifier mon mot de passe
                    </button>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import slideBarComponent from "@/components/slideBarComponent.vue";
    import userInfoComponent from "@/components/userInfoComponent.vue";
    import Header from "@/partials/Header.vue";

	export default {
		name: "dashboard",
		components: {
            'v-header': Header,
            //Header,
            slideBarComponent,
            userInfoComponent
		}
	}
</script>
