<template>
    <!--<Header />-->
    <!--<v-header></v-header>-->
    <main>
        <div class="dashboard-container">
            <!-- sidebar -->
            <slideBarUserComponent />
            <mainContentMonitoringComponent />
        </div>
    </main>
</template>

<script>
    import slideBarUserComponent from "@/components/slideBarUserComponent.vue";
    import mainContentMonitoringComponent from "@/components/mainContentMonitoringComponent.vue";
    //import Header from "@/partials/Header.vue";

    export default {
        name: "dashboard_monitoring",
        components: {
            //'v-header': Header,
            //Header,
            slideBarUserComponent,
            mainContentMonitoringComponent
        }
    }
</script>
