<template>
    <!--<Header />-->
    <!--<v-header></v-header>-->
    <main>
        <div class="dashboard-container">
            <slideBarUserComponent/>
            <mainContentPreferenceComponent/>
        </div>
    </main>
</template>

<script>
    import slideBarUserComponent from "@/components/slideBarUserComponent.vue";
    import mainContentPreferenceComponent from "@/components/mainContentPreferenceComponent.vue";
    //import Header from "@/partials/Header.vue";

	export default {
		name: "dashboard_preference",
		components: {
            //'v-header': Header,
            //Header,
            slideBarUserComponent,
            mainContentPreferenceComponent
		}
	}
</script>
