<template>
    <!--<Header />-->

    <main>
        <section class="home-section--hero container">
            <div class="left-part">
                <div class="hero-content">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                    <h1>Socializer Insight</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil perspiciatis vero perferendis enim rerum, harum neque mollitia consequuntur dolor aspernatur accusamus modi. Quas eveniet tempora omnis soluta dolorum voluptatibus praesentium!</p>
                    <a href="" class="btn btn-rounded btn-yellow">Schedule a demo</a>
                </div>
            </div>
            <div class="right-part">
                <img src="../assets/img/illustration.png" alt="illustration" title="illustration">
            </div>
        </section>

        <section class="home-section--overview container">
            <div class="main-title">
                <h2>Know your followers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta velit commodi facilis.</p>
            </div>
            <interfaceComponent/>
        </section>

        <section class="home-section--features container">
            <featureCardComponent/> 
        </section>

        <section class="home-section--demo bg-color--blue py-5">
            <div class="main-title">
                <h2>Want a personal Tour ?</h2>
                <p>Dolores modi reprehenderit, facilis nihil nihil nam iste magni recusandae tempora a voluptatem.</p>
                <div class="py-5">
                    <a href="#" class="btn btn-square btn-green">Schedule a demo</a>
                </div>
            </div>
        </section>
    </main>
</template>
    
<script>
    import featureCardComponent from "@/components/featureCardComponent.vue";
    import interfaceComponent from "@/components/interfaceComponent.vue";
    import Header from "@/partials/Header.vue";

	export default {
		name: "home",
		components: {
            Header,
            featureCardComponent,
            interfaceComponent
		}
	}
</script>

