<template>
    <!--<partial name="HeaderLogin"></partial>-->
    <!--<HeaderLogin />-->
    <!--<v-header></v-header>-->
    
    <main>
        <div class="register-user-section">
            <div class="main-title">
                <h1>Connectez-vous sur <span class="color-red">Socializer.</span></h1>
            </div>
            <loginFormComponent/>
        </div>
    </main>
</template>

<script>
    //import HeaderLogin from "@/partials/HeaderLogin.vue";
    import headerLoginComponent from "@/components/headerLoginComponent.vue";
    import loginFormComponent from "@/components/loginFormComponent.vue";

	export default {
		name: "login",
		components: {
            'v-header': headerLoginComponent,
            //headerLoginComponent,
            //HeaderLogin,
            loginFormComponent
		}
	}
</script>
