<template>

    <!--<partial name="HeaderRegister"></partial>-->
    <!--<v-header></v-header>-->

    <main>
        <div class="register-user-section container">
            <!-- login section header -->
            <div class="main-title">
                <h1>Inscrivez-vous sur <span class="color-red">Socializer.</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <registerFormComponent/>
        </div>
    </main>
</template>
    
<script>
    import HeaderRegister from "@/partials/HeaderRegister.vue";
    import registerFormComponent from "@/components/registerFormComponent.vue";

    export default {
        name: "register",
        components: {
            'v-header': HeaderRegister,
            //HeaderRegister,
            registerFormComponent
        }
    }
</script>
