/* FORM */

.form-group label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #B5B4B4;
}
.form-group input {
  height: 45px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #B5B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group input:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}
.form-group input:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}
.form-group textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #B5B4B4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px;
}
.form-group textarea:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}
.form-group textarea:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none;
}

.remember-check {
  padding: 20px 0;
}