/* TITLE */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #22264b;
}