/* HEADER USER */

.header-user {
  padding: 20px 0;
}
.header-user .logo-wrapper {
  text-align: center;
  padding-bottom: 20px;
}
.header-user .profil-picture {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin: 0 auto;
}
.header-user .profil-picture.no-picture {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-user .profil-picture.no-picture a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.header-user .profil-picture.no-picture a .no-picture-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-user .profil-picture.no-picture a i {
  color: #22264b;
}
.header-user .profil-picture.no-picture a p {
  font-size: 10px;
}
.header-user .profil-picture.no-picture:hover {
  background-color: #22264b;
}
.header-user .profil-picture.no-picture:hover p {
  color: white;
}
.header-user .profil-picture.no-picture:hover i {
  color: white;
}
.header-user h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
