<template lang="html">
	<div class="features-wrapper py-5">
		<div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>
        </div>

        <div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>
        </div>

        <div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 3</h4>
            <p>Sint ratione, vel doloribus quis minus quos provident. Excepturi, quasi.</p>
        </div>

        <div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 4</h4>
            <p>Cupiditate dolorem, pariatur unde sequi laudantium deserunt quo animi sit modi iure sint ratione, vel doloribus quis minus quos provident.</p>
        </div>

        <div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 5</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>
        </div>

        <div class="feature-card">
            <div class="card-icons"></div>
            <h4>Feature 6</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem, pariatur unde sequi.</p>
        </div>
	</div>
</template>

<script>
	export default {
	}
</script>

<!--<style lang="scss" scoped></style>-->
