<template lang="html">
    <header>
        <div class="header-logo">
            <a href="/">
                <img src="../assets/img/logo_socializer.svg">
            </a>
        </div>
        <!-- login section header -->
        <div class="login-section">
            Vous n’avez pas encore de compte ?
            <a href="register-user.php" class="btn btn-rounded btn-transparent btn-border--blue">Inscription</a>
        </div>
    </header>
</template>

<script>
    export default {
    }
</script>

<!--<style lang="css" scoped></style>