<template lang="html">
	<div class="interface-wrapper py-5">
        <div class="interface-item">
            <div class="interface-thumbnail">
                <img src="../assets/img/screen1.png" alt="Screen1" title="Screen1">
            </div>
            <div class="interface-item--content">
                <h3>Forecast</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>
            </div>
        </div>
        <div class="interface-item">
            <div class="interface-thumbnail">
                <img src="../assets/img/screen2.png" alt="Screen2" title="Screen2">
            </div>  
            <div class="interface-item--content">
                <h3>Visualization</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>
            </div>
        </div>
        <div class="interface-item">
            <div class="interface-thumbnail">
                <img src="../assets/img/screen3.png" alt="Screen3" title="Screen3">
            </div>
            <div class="interface-item--content">
                <h3>Improvment</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
	}
</script>

<!--<style lang="scss" scoped></style>-->
