<template lang="html">
	<!-- sidebar -->
    <aside id="sideBarUser">
        <!-- header sidebar -->
        <div class="header-user">
            <div class="logo-wrapper">
            </div>
            <div class="profil-picture no-picture">
                <a href="#">
                    <div class="no-picture-wrapper">
                        <i class="fas fa-upload"></i>
                        <p>Ajouter une photo</p>
                    </div>
                </a>
            </div>
            <h3>Daniel</h3>
        </div>
        <!-- menu -->
        <nav>
            <ul>
                <li>
                    <a href="">
                        <i class="fas fa-camera-retro"></i>
                        monitoring
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="far fa-comments"></i>
                        messagerie
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user-circle"></i>
                        informations
                    </a>
                </li>
                <li class="active">
                    <a href="">
                        <i class="fas fa-cog"></i>
                        préférences
                    </a>
                </li>
            </ul>
        </nav>

        <div class="footer-user">
            <button type="button" name="button" class="btn btn-reset">
                <i class="fas fa-power-off"></i>
                déconnexion
            </button>
        </div>

    </aside>
</template>

<script>
    export default {
    }
</script>

<!--<style lang="scss" scoped></style>-->