<template lang="html">
    <div class="user-info-wrapper">
        <div class="white-card mh">
            <div class="info-user-line">
                <label>Nom:</label>
                <span>Zerbib</span>
            </div>
            <div class="info-user-line">
                <label>Prénom:</label>
                <span>Vincent</span>
            </div>
        </div>

        <div class="white-card mh">
            <div class="info-user-line">
                <label>Adresse: </label>
                <span>13 rue de la paix, 75012 Paris 12ème</span>
            </div>
            <div class="info-user-line">
                <label>Téléphone: </label>
                <span>06 26 02 65 16</span>
            </div>
            <div class="info-user-line">
                <label>Mail: </label>
                <span>vincentzerbib@gmail.com</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
    }
</script>

<!--<style lang="scss" scoped></style>-->



