/* DASHBOARD PAGE */

.dashboard-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.user-info-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 420px) {
  .user-info-wrapper {
    display: block;
  }
}
.user-info-wrapper table {
  width: 100%;
}
.user-info-wrapper .white-card {
  background-color: white;
  width: 50%;
  padding: 20px;
}
@media (max-width: 420px) {
  .user-info-wrapper .white-card {
    width: 100%;
  }
}
.user-info-wrapper .white-card:first-of-type {
  margin-right: 20px;
}
.user-info-wrapper .white-card .info-user-line {
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media (max-width: 420px) {
  .user-info-wrapper .white-card .info-user-line {
    display: block;
  }
}
.user-info-wrapper .white-card .info-user-line label {
  color: #B5B4B4;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.user-info-wrapper .white-card .info-user-line span {
  font-weight: 500;
}
.user-info-wrapper .white-card .custom-list li {
  font-size: 15px;
}
.user-info-wrapper .white-card .custom-list li i {
  font-size: 17px;
  vertical-align: inherit;
}
.user-info-wrapper .white-card table th {
  text-align: center;
  width: 100px;
}
.user-info-wrapper .white-card table tbody td {
  padding: 20px 0;
  position: relative;
}
.user-info-wrapper .white-card table tbody td .checkbox-custom {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#mainContent {
  width: 100%;
  min-height: 100vh;
  padding: 40px 40px;
  position: relative;
}
@media (max-width: 420px) {
  #mainContent {
    padding: 10px;
  }
}
@media (max-width: 420px) {
  #mainContent textarea {
    width: 100%;
  }
}
#mainContent .breadcrumb {
  background-color: transparent;
}
@media (max-width: 420px) {
  #mainContent .breadcrumb {
    text-align: center;
  }
}
#mainContent .button-group {
  margin-bottom: 20px;
  margin-right: 10px;
}
@media (max-width: 420px) {
  #mainContent .button-group {
    text-align: center;
  }
}
@media (max-width: 420px) {
  #mainContent .button-group .btn {
    margin-bottom: 10px;
  }
}
#mainContent .back-button {
  position: absolute;
  top: 5%;
  right: 5%;
}
#mainContent h2 {
  color: #B5B4B4;
  padding-bottom: 20px;
}