/* REGISTER PAGE */

.register-user-section {
  height: 100vh;
}
@media (max-width: 420px) {
  .register-user-section {
    height: auto;
  }
}

@media (max-width: 420px) {
  .register-user-section .login-section {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}
.register-user-section .login-section a {
  margin-left: 10px;
}
.register-user-section .main-title {
  padding-top: 30px;
}
@media (max-width: 420px) {
  .register-user-section .main-title {
    padding-top: 20px;
  }
}
.register-user-section .register-user-form {
  padding: 40px 0;
}
@media (max-width: 768px) {
  .register-user-section .register-user-form .request-link {
    display: block;
    margin-top: 10px;
  }
}
.register-user-section .cgu-wrapper {
  padding: 20px 0;
}