<template lang="html">
	<header>
        <div class="header-logo">
            <a href="<span id="aa"></span>">
                <img src="../assets/img/logo_socializer.svg">
            </a>
        </div>
        <div class="login-section py-2">
            Déjà inscrit ?
            <a href="login-user.php" class="btn btn-rounded btn-transparent btn-border--blue">Connexion</a>
        </div>
    </header>
</template>

<script>
	export default {
	}
</script>
	
<!--<style lang="css" scoped></style>











