<template lang="html">
	<header>
	    <div class="header-logo">
	        <a href="/">
	            <img src="../assets/img/logo_socializer.svg" alt="Logo socializer" title="Logo socializer">
	        </a>
	    </div>

	    <div class="header-menu">
	        <nav class="menu-wrapper">
	            <ul class="nav">
	                <li class="nav-item">
	                    <a href="#" class="nav-link">Why Socialize</a>
	                </li>
	                <li class="nav-item">
	                    <a href="#" class="nav-link">Features</a>
	                </li>
	                <li class="nav-item">
	                    <a href="pages/pricing.html" class="nav-link">Pricing</a>
	                </li>
	                <li class="nav-item">
	                    <a href="pages/register.html" class="nav-link btn btn-rounded btn-transparent btn-border--blue">Register</a>
	                </li>
	            </ul>

	            <div class="social-wrapper">
	                <ul>
	                    <li>
	                        <a href="#" class="nav-item">
	                            <i class="fab fa-facebook-f"></i>
	                        </a>
	                        <a href="#" class="nav-item">
	                            <i class="fab fa-instagram"></i>
	                        </a>
	                        <a href="#" class="nav-item">
	                            <i class="fab fa-linkedin-in"></i>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	        </nav>
	    </div>
	</header>
</template>

<script>
	export default {

	}
</script>
	
<!--<style lang="css" scoped></style>











