<template>
  <div id="app">
    <Header />
      <router-view/>
    <Footer />
  </div>
</template>

<script>
  import Vue from "vue";
  import App from "./App.vue";
  import Header from "@/partials/Header.vue";
  import Footer from "@/partials/Footer.vue";
  
  // Adding boostrap framework (Css)
  import BootstrapVue from 'bootstrap-vue'
  Vue.use(BootstrapVue);

  export default {
    components: {
      Header,
      Footer
    }
  };
</script>

<style lang="scss">
  @import "./assets/css/style.css"
</style>



